<div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 col-xs-6">

  <!--Profile Image-->
  <section id="profile-image">
    <%= image_tag(@image) %>
    <h1>@<%= current_user.username %></h1>
  </section>

  <!--Tags-->
  <section id="user-tags">
    <h4>User Tags:</h4>

    <ul class="list-group">
    <% @user_filters.each do |i| %>
      <li class="list-group-item">
        <span class="badge"><%=i.filtered_message_ids%></span>
        <%=i.name%>

      </li>
    <% end %>
    </ul>

   <%= link_to new_user_filter_path(current_user), class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Create New Tag
    <% end %>
  </section>    
</div><!--end_col-md-3-->    


<!--Pane container-->
<div class="col-md-9">
<section id="profile-messages">
  <!--Pane Nav Tabs-->
  <ul class="nav nav-tabs right-to-left">

    <li class="active"><a href="#all-messages" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>&nbsp; All Messages <span class="badge"><%=@messages.count%></span></a></li>

    <li><a href="#filtered-messages" data-toggle="tab"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp; Filtered Messages <span class="badge"><%=@filtered_messages.count%></span></a></li>

    <li><a href="#new-tweet" data-toggle="tab"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp; New Tweet</a></li>    

  </ul>

  <!--Panes-->

  <!--All Messages-->
  <div class="tab-content">
    <div class="tab-pane fade active in" id="all-messages">
      <h4>All Messages: <%=link_to refresh_path do %> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh <% end %> <%=link_to destroy_path do %> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete All <% end %></h4>
      
      <%= render 'all_messages' %>

    </div><!--end_tab-pane-->


  <!--Filtered Messages-->
    <div class="tab-pane fade" id="filtered-messages">
      <h4>Filtered Messages: <%=link_to analyze_path do %> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter Messages <% end %></h4>
      
      <%= render 'filtered_messages' %>
      
    </div><!--end_tab-pane-->

    <div class="tab-pane fade" id="new-tweet">
      <h4>New Tweet:</h4>

      <%= render 'messages/form' %>

    </div><!--end_tab-pane-->
          
  </div><!-- tab content -->


</section><!--end_#profile-messages-->
</div><!--end_col-md-9-->



    



