<h1><%= current_user.uid %></h1>
<%= image_tag(@image) %>



<%= link_to "Analyze", analyze_path(@user) %>

<%= link_to "Create Filter", new_user_filter_path(current_user) %>


<h2>All Messages</h2>
<ul>
<% @messages.each do |i| %>
<li><%=i.body%> | <%=i.author%></li>
<% end %>
</ul>


<h2>Filtered Messages</h2>
<ul>
<% @user_filters.each do |f| %>
	<% f.messages.each do |m| %>
	<li><%= m.body %></li>
	<% end %>
<% end %>
</ul>

<h1>New Message:</h1>
<%= render 'messages/form' %>

<%= link_to 'new message',new_message_path %>