  <h2><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Create New Tag:</h2>

  <div class="panel panel-default">
    <div class="panel-body"> 
      <%= form_for(@filter) do |f| %>
      <% if @filter.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@filter.errors.count, "error") %> prohibited this message from being saved:</h2>

          <ul>
          <% @filter.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name,"Name:" %><br/>
        <%= f.text_field :name, class: "form-control", placeholder: "SEO Filter" %>
      </div><!--end_.form-group-->

      <div class="form-group">
        <%= f.label :slips,"Slips (comma-separated):" %><br/>
        <%= f.text_area :slips, class: "form-control", placeholder: "i.e. slip1, slip2, slip3" %> 
      </div><!--end_.form-group-->

      <div class="form-group">
      <%= f.label :description,"Description:" %><br/>
      <%= f.text_area :description, class: "form-control counted", name: "tag", placeholder: "Type in tag description (optional)", rows:"4", style: "margin-bottom:10px;" %>    
      </div><!--end_.form-group-->

      <div class="form-group">
      <%= f.submit class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-tag" aria-hidden="true"> Create new tag </span>
      <% end %>
      </div><!--end_.form-group-->
      
      <%end%>
    </div>
  </div>
