<!DOCTYPE html>
<html>
<head>
  <title>F2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<p><%= params %></p>
<p><%= flash[:notice] if flash[:notice] %></p>
<p><%= flash[:alert] if flash[:alert] %></p>

<body>
<%#= console %>
<%= yield %>

</body>
</html>
